:host {
  display: block;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9f6fb;
}

.login-card {
  width: 380px;
  padding: 2rem;
  text-align: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  background: #fff; 
  padding: 8px;
  border: 3px solid #800080; 
}

.title {
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #800080;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.orange-field .mat-mdc-text-field-wrapper {
  background-color: #e6892d !important; 
  border-radius: 8px !important;
}

.orange-field.mat-form-field .mat-mdc-form-field-flex {
  color: #fff !important;
}

.orange-field.mat-form-field input {
  color: #fff !important; 
}

.orange-field.mat-form-field mat-label {
  color: #fff !important;
}

.orange-field.mat-form-field mat-error {
  color: #ffdddd !important; 
}

/* === Botones === */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn-cancel {
  background-color: #800080 !important; 
  color: #fff !important;
}

.btn-login {
  background-color: #e6892d !important; 
  color: #fff !important;
}

.error {
  margin-top: 1rem;
  color: red;
  font-size: 0.9rem;
}
